@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --red: #ff2a70;
  --black: #1a1a1a;
  --white: white;
  --content-width: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-image: url("/assets/bg/pattern_bg.jpg");
  background-repeat: repeat;
  color: var(--white);
  font-family: ubuntu;
  & > div {
    display: grid;
    grid-template-columns: 1fr [content] minmax(0, 1440px) 1fr;
  }
  h1 {
    font-weight: 400;
    font-size: 38px;
  }
  h2 {
    font-weight: 400;
    font-size: 24px;
  }
  nav {
    li {
      font-weight: 400;
      font-size: 24px;
    }
  }
  p {
    font-size: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  }
  button {
    font-size: 18px;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr [content] minmax(0, 1440px) 1fr;
}

.full-bleed {
  grid-column: 1/-1;
}

.content-padding {
  padding-inline: max(1rem, 50% - var(--content-width) / 2);
}

.footer-img {
  background-image: url(/assets/bg/footerbg.jpg);
  background-size: cover;
  background-position: center;
}

.font-scale {
  h1 {
    font-size: clamp(1.125rem, 0.7083rem + 1.8519vw, 2.375rem);
  }
}
.p-scale {
  p {
    font-size: clamp(0.875rem, 0.8239rem + 0.2273vw, 1rem);
  }
}
.my-player {
  .rhap_container {
    background: none;
    padding: 16px;
    padding-top: 70px;
    @media (max-width: 600px) {
      padding-top: 40px;
    }
  }

  .rhap_progress-section {
    margin-bottom: 1rem;
  }

  .rhap_progress-filled {
    background: var(--red);
    border-radius: 0;
  }

  .rhap_progress-indicator {
    background: var(--white);
    width: 24px;
    height: 24px;
  }
  .rhap_main-controls {
    .rhap_button-clear {
      height: 52px;
      width: 52px;
      margin-inline: 1rem;
      svg {
        height: 52px;
        width: 52px;
      }
    }
    .rhap_forward-button {
      height: fit-content;
      width: fit-content;
    }
    .rhap_rewind-button {
      height: fit-content;
      width: fit-content;
    }
  }

  .rhap_controls-section button {
    color: white;
  }
  .rhap_volume-container {
    margin-right: 3rem;
    scale: 1.4;
  }
  .rhap_volume-bar-area {
    .rhap_volume-bar {
      background: var(--red);
      border-radius: 0;
    }
  }
  .rhap_time {
    color: white;
  }
  .rhap_volume-indicator {
    background: var(--white);
  }
}

/*div corner styling utility*/

.hover-border {
  transition: border 0.3s ease-in-out;

  &:hover {
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
  }
}

.hover-tag-bottom::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 150px;
  background: var(--red);
  bottom: -45px;
  right: -35px;
  z-index: 10;
  transform: rotate(45deg);
  transition: opacity 0.2s ease, bottom 0.15s ease-in, right 0.15s ease-in;
  opacity: 0;
}

.hover-tag-bottom:hover::before {
  opacity: 1;
  bottom: -40px;
  right: -27px;
}

.hover-tag-top::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 150px;
  background: var(--red);
  top: -45px;
  left: -35px;
  z-index: 10;
  transform: rotate(45deg);
  transition: opacity 0.2s ease, top 0.15s ease-in, left 0.15s ease-in;
  opacity: 0;
}

.hover-tag-top:hover::after {
  opacity: 1;
  top: -40px;
  left: -27px;
}

.hover-tag-top,
.hover-tag-bottom {
  position: relative;
  overflow: hidden;
}

/*gallery grid*/
.gallery-grid {
  display: grid;
  grid-template-areas: "a a b c c d" "e e f f g g";
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.yarl__slide {
  height: 100% !important;
}

.elegant-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.elegant-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.elegant-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.894);
  border-radius: 999px;
}
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-areas: "a" "b" "c" "d" "d" "e" "f" "g";
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .yarl__carousel {
    --yarl_carousel_padding_px: 0 !important;
    --yarl_carousel_spacing_percent: 0 !important;
  }
  .yarl__slide {
    padding: 0 !important;
  }

  .yarl__navigation_prev {
    left: 0 !important;
    width: fit-content;
    margin-left: 1rem !important;
    margin-top: 1rem !important;
  }
  .yarl__navigation_next {
    right: 0 !important;
    width: fit-content;
    margin-right: 1rem !important;
    margin-top: 1rem !important;
  }
}

/*Music player carousel*/
[data-track]::-webkit-scrollbar {
  display: none;
}

[data-review] {
  transition: transform 0.5s ease-in-out;
}

[data-review].active {
  transform: translateY(-0.5rem) scale(1.1);
  transition: transform 0.5s ease-in-out;
}
