@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --red: #ff2a70;
  --black: #1a1a1a;
  --white: white;
  --content-width: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-image: url("/assets/bg/pattern_bg.jpg");
  background-repeat: repeat;
  color: var(--white);
  font-family: ubuntu;
  & > div {
    display: grid;
    grid-template-columns: 1fr [content] minmax(0, 1440px) 1fr;
  }
  h1 {
    font-weight: 400;
    font-size: 38px;
  }
  h2 {
    font-weight: 400;
    font-size: 24px;
  }
  nav {
    li {
      font-weight: 400;
      font-size: 24px;
    }
  }
  p {
    font-size: 18px;
  }
  button {
    font-size: 18px;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr [content] minmax(0, 1440px) 1fr;
}

.full-bleed {
  grid-column: 1/-1;
}

.content-padding {
  padding-inline: max(1rem, 50% - var(--content-width) / 2);
}

.footer-img {
  background-image: url(/assets/bg/footerbg.jpg);
  background-size: cover;
  background-position: center;
}

.font-scale {
  h1 {
    font-size: clamp(1.125rem, 0.7083rem + 1.8519vw, 2.375rem);
  }
}

/*div corner styling utility*/

.hover-border {
  transition: all 0.3s ease-in-out;

  &:hover {
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
  }
}

.hover-tag-bottom::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 150px;
  background: var(--red);
  bottom: -40px;
  right: -27px;
  z-index: 10;
  transform: rotate(45deg);
  transition: opacity 0.2s ease;
  opacity: 0;
}

.hover-tag-bottom:hover::before {
  opacity: 1;
}

.hover-tag-top::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 150px;
  background: var(--red);
  top: -40px;
  left: -25px;
  z-index: 10;
  transform: rotate(45deg);
  transition: opacity 0.2s ease;
  opacity: 0;
}

.hover-tag-top:hover::after {
  opacity: 1;
}

/*gallery grid*/
.gallery-grid {
  display: grid;
  grid-template-areas: "a a b c c d" "e e f f g g";
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
